In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

data = pd.read_csv("Car_dataset.csv")

In [6]:
data.head(3)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0

## Data Cleaning :

In [8]:
data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

- Remove r replace the null space by their mean of col.

In [35]:
# data['Cylinders'].data['Cylinders'].fillna(data['Cylinders'].mean(),inplace= True)
# data['Cylinders'].fillna(data['Cylinders'].mean(),inplace=True)

data['Cylinders'] = pd.to_numeric(data['Cylinders'], errors= 'coerce')

mean_val = data['Cylinders'].mean()
if pd.notna(mean_val):
    data['Cylinders'] = data['Cylinders'].fillna(mean_val)
else:
    data['Cylinders'] = data['Cylinders'].fillna(0)

In [36]:
data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      0
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [38]:
data['Horsepower'] = pd.to_numeric(data['Horsepower'], errors= 'coerce')
mean_val2 = data['Horsepower'].mean()
if pd.notna(mean_val2):
    data['Horsepower'] = data['Horsepower'].fillna(mean_val2)
else:
    data['Horsepower'] = data['Horsepower'].fillna(0)

In [ ]:
s = data.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      0
Horsepower     0
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

- Clean the whole data from null values it once when we apply the loop

In [50]:
col_to_clean = data.columns.tolist()
for col in col_to_clean:
    data[col] = pd.to_numeric(data[col],errors= 'coerce')
    mean_val_u = data[col].mean()
    if pd.notna(mean_val_u):
        data[col] = data[col].fillna(mean_val_u)
    else:
        data[col] = data[col].fillna(0)

In [51]:
data.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64